.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px; 
}

h1 {
    text-align: left;
    margin-bottom: 30px;
}

.header{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}